* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  /* position: fixed; */
  overflow-x: hidden;
}
button {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #ffffff;
  margin: 15px;
  width: 340px;
}

.preview {
  background: #f9fafd;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #464b5b;
  font-size: 18px;
  width: 100%;
  margin: 30px;
}

.accordion {
  background: #e6ebff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.accordion-title {
  color: #0033ff;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

input {
  box-sizing: border-box;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #d6dae4;
  border-radius: 3px;
  padding: 6px 12px;
  height: 38px;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
}

input[type='radio'] {
  margin: 0;
  width: 15px;
  height: 15px;
}

.radio-select {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}
.flex {
  display: flex;
}
.cards {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 50px 20px;
}
.card {
  flex-basis: 20%;
  display: none;
}
.card-inner {
  position: relative;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
  height: 90%;
  max-width: 100%;
}
.img {
  height: 250px;
  width: 100%;
}
.header {
  justify-content: space-between;
  margin: 10px;
}

.info {
  margin-left: 20px;
}
.info .name {
  font-weight: bold;
}
.info .date {
  font-weight: 200;
  font-size: 12px;
  margin-top: 5px;
}
.profilePic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 0;
}
.social {
  width: 30px;
}
.cardFooter {
  position: absolute;
  bottom: 0px;
  border-top: 2px groove;
  padding: 10px 0;
  width: 90%;
}
.cardFooter img {
  margin-right: 10px;
}
.caption {
  margin: 20px 0px;
  height: max-content;
  margin-bottom: 60px;
  font-size: 12px;
  text-align: left;
}
.heart {
  margin-right: 10px;
  color: red;
}
.heart:hover {
  cursor: pointer;
}
.heartGrow {
  transition: 0.1s ease-in-out;
  font-size: 18px;
}
.loadmore {
  display: block;
  width: 150px;
  text-align: center;
  background-color: #0d99ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}
.loadmore:hover {
  cursor: pointer;
}
.cards .card {
  display: none;
}
.cards .card:nth-child(1),
.cards .card:nth-child(2),
.cards .card:nth-child(3),
.cards .card:nth-child(4) {
  display: flex;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .card {
    flex-basis: 100%;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .card {
    flex-basis: 50%;
  }
  .caption {
    font-size: 10px;
    height: max-content;
  }
}
@media screen and (min-width: 992px) {
  .card {
    flex-basis: 33%;
  }
}
